/* ----------------quiz header css----------------- */
.navbar {
    position: relative;
    /* width: 100vw; */
    left: 0;
    top: 0;
    right: 0;    
    padding: 0px;
    padding-bottom: 5px;
    z-index: 1040;
    background-color: white;
    border-radius: 0;
    -webkit-transition: padding 0.3s ease-in-out 0s;
    transition: padding 0.3s ease-in-out 0s;
    margin: 15px 0 0 0;
  }

  .navbar .navbar-header {
    position: relative;
    margin: auto;
    float: inherit;
    width: 100%;
  }
  .navbar .navbar-header, .navbar .navbar-header .navbar-brand  {
    display: inline-block;
    text-align: center;
   }

  .navbar .navbar-header .navbar-toggle {
    position: relative;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    float: left;
  }

  .navbar .navbar-header .navbar-toggle:active, .navbar .navbar-header .navbar-toggle:focus {
    outline: none;
  }

  .navbar .navbar-header .navbar-toggle span {
    display: block;
    background-image: url('https://cdn1.byjus.com/home/hamberger-menu.png');
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: cover;
  }

  .navbar .navbar-header .navbar-brand {
    /* padding: 10px; */
    float: inherit;
    height: auto;
    margin: auto;
    /* display: inline-block; */
}

.navbar-brand {
  padding: 0%;
}

  .navbar .navbar-header .navbar-brand img {
    height: auto;
    width: 150px;
    -webkit-transition: width 0.3s ease-in-out 0s;
    transition: width 0.3s ease-in-out 0s;
  }

  .navbar.animate {
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
  }

  .navbar.animate .navbar-toggle span {
    width: 20px;
    height: 20px;
  }

  .navbar.animate .navbar-brand img {
    width: 135px;
  }

  .navbar .bj-nav-menu {
    display: none;
    padding: 17px;
  }

  .navbar .bj-nav-menu .menu-close {
    display: none;
  }

  .navbar .bj-nav-menu.navbar-nav .nav-item .nav-link {
    color: white;
    line-height: normal;
    font-weight: 500;
    font-size: 22px;
  }

  .navbar .bj-nav-menu.navbar-nav .nav-item .nav-link:hover,
  .navbar .bj-nav-menu.navbar-nav .nav-item .nav-link:focus,
  .navbar .bj-nav-menu.navbar-nav .nav-item .nav-link:active,
  .navbar .bj-nav-menu.navbar-nav .nav-item .nav-link:visited {
    color: white;
    background: #813688;

  }
  @media (max-width: 767px) {
    .navbar .bj-nav-menu.bj-fixed-menu {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: #823287;
      z-index: 1041;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -moz-align-items: flex-start;
      -ms-align-items: flex-start;
      -o-align-items: flex-start;
      -webkit-box-align: flex-start;
          -ms-flex-align: flex-start;
              align-items: flex-start;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      padding-left: 40px;
    }
    .navbar .bj-nav-menu.bj-fixed-menu * {
      text-align: left;
    }
    .nav>li::after {
      display: block;
      content: "";
      border-top: .3rem solid white;
      width: 80vw;
      margin: 0 1rem;
    }
    .nav>li.nav-item.regi-btn {
      margin: 20px 0;
    }
    .nav>li.nav-item.regi-btn::after {
      display: block;
      content: "";
      border-top: inherit;
    }
    .navbar .bj-nav-menu.bj-fixed-menu .menu-close {
      position: fixed;
      z-index: 1042;
      top: -6px;
      right: 0px;
      height: 63px;
      width: 63px;
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .navbar .bj-nav-menu.bj-fixed-menu .menu-close span {
      display: block;
      background-image: url('../assets/cross-white.svg');
      width: 20px;
      height: 20px;
      background-position: center;
      background-size: cover;
    }
    .navbar .bj-nav-menu .navbar-nav .nav-item .nav-link {
      font-size: 22px;
      padding: 20px 0;
      line-height: normal;
    }
  }

  @media (min-width: 768px) {
    .navbar .navbar-header .navbar-toggle {
      display: none;
    }
    .navbar .bj-nav-menu {
      display: block;
    }
    .navbar .bj-nav-menu.navbar-nav .nav-item {
      position: relative;
    }
    .navbar .bj-nav-menu.navbar-nav .nav-item .nav-link {
      font-size: 15px;
      padding: 0 20px 0 20px;
    }
    .navbar .bj-nav-menu.navbar-nav .nav-item:last-child .nav-link {
      padding-right: 0;
    }
    .navbar .bj-nav-menu.navbar-nav .nav-item:last-child:after {
      display: none;
    }
  }

  @media (min-width: 1600px) {
    .navbar .navbar-header .navbar-brand img {
      width: 200px;
      height: auto;
    }
    .navbar .bj-nav-menu.navbar-nav .nav-item .nav-link {
      font-size: 22px;
      padding: 0 40px 0 40px;
    }
  }

  .navbar .social-share>a {
    display: inline-block;
    box-shadow: 0 0.1rem 0.25rem 0 rgba(91, 22, 170, 0.3);
    background: #8560a8;
    padding: 7px;
    border-radius: 50%;
  }

  .navbar .social-share>a:hover,
  .navbar .social-share>a:visited,
  .navbar .social-share>a:focus,
  .navbar .social-share>a:focus-within
  .navbar .social-share>a:active  {
  background: #8560a8;
  }

  @media(min-width:767.98px) {
    .navbar .bj-nav-menu {
        display: flex;
        align-items: center!important;
        justify-content: center;
    }

    .specifications-section {
        padding-left: 40px;
    }

    .navbar .bj-nav-menu.navbar-nav .nav-item:nth-child(5):after,
    .navbar .bj-nav-menu.navbar-nav .nav-item:nth-child(6):after {
        width: 0px;
      }

    .navbar .bj-nav-menu.navbar-nav li:nth-child(6),
    .navbar .bj-nav-menu.navbar-nav li:nth-child(7) {
        padding-left: 10px;
    }
  }

    @media(min-width: 768px) {
      .bj-partners.bj-section.bg-section-purple .row .col-sm-3 {
        width: 20%;
      }
    }

    li.regi-btn>a.btn {
      display: inline-block;
      width: auto;
      height: 34px;
      color: white;
      border-radius: 32px;
      padding: 6px 15px;
      font-size: 12px;
      border: solid 1px #a9e870;
  }
  li.regi-btn>a.btn:hover {
    color: white;
    background: #813688;
  }
  li.regi-btn>a.btn.active-btn {
    background: linear-gradient(to right, #7ec340, #03a687),#7ec340;
  }
  li.regi-btn:not(:last-child) {
    margin-right: 20px;
  } 
  li.regi-btn>a.btn span {
    font-size: 14px;
  }

  .navbar .social-share>a {
      display: inline-block;
      box-shadow: 0 0.1rem 0.25rem 0 rgba(91, 22, 170, 0.3);
      background-color: #8560a8;
      padding: 7px;
      border-radius: 50%;
  }

  .navbar .social-share>a:hover,
  .navbar .social-share>a:visited,
  .navbar .social-share>a:focus,
  .navbar .social-share>a:focus-within
  .navbar .social-share>a:active  {
    background-color: #8560a8;
  }

  .nav.navbar-nav.navbar-right.bj-nav-menu .byjus-education-logo {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-55%);
    margin: auto;
    width: 150px;
  }

  @media(max-width: 767.98px) {
    .navbar.animate {
      box-shadow: inherit
    }
    .navbar .navbar-header a.click-to-give {
      float: right;
      color: white;
      border-radius: 32px;
      padding: 6px 15px;
      font-size: 12px;
      background: #823287;
      margin-top: 12px;
      border: 1px solid #a9e870;
   }
   .navbar .bj-nav-menu.navbar-nav .nav-item .nav-link {
     color: black;
   }
   .navbar .navbar-header a.click-to-give:not(:last-child) {
     margin-left: 10px;
   }
   .navbar .navbar-header a.click-to-give span {
    font-size: 14px;
    }
    .nav.navbar-nav.navbar-right.bj-nav-menu .byjus-education-logo {
      width: 100px;
      left: 20px;
      transform: inherit;
    }
  }

  @media(max-width:479.98px) {
    .navbar .navbar-header .navbar-toggle span {
      width: 15px;
      height: 25px;;
    }
    .navbar .navbar-header .navbar-toggle {
      margin-right: 15px;
      padding: 0px 0px;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    .navbar .navbar-header .navbar-brand img {
      height: auto;
    }
    .navbar .navbar-header .navbar-brand {
      padding: 10px 0px;
    }

    .navbar .navbar-header a.click-to-give {
      margin-top: 5px;
   }
  }
  @media(max-width:479.98px)
  {
    .navbar
    { 
      padding-bottom:0px;
      margin-top:4px;
    }
  } 