/* -------------------quiz footer css--------------------  */
.footer-copyrite {
    padding: 16px 0;
    background-color: #823287;
    color: #fff;
}

.footer-dpts {
    float: left;
    margin: 0;
}

.footer-dpts li:not(:last-child) {
    border-right: 1px solid #fff;
}

.footer-copy {
    float: right;
}

.footer-copyrite a,
.footer-copyrite a:focus,
.footer-copyrite a:hover {
    color: #fff;
}
@media (max-width: 767.68px) {
    .footer-copyrite {
        text-align: center;
    }
    .footer-dpts,
    .footer-copy {
        float: none;
    }
}